#stream-container{text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;-moz-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
#stream-container,#stream-container *{padding:0;margin:0;-webkit-box-sizing:border-box;box-sizing:border-box; -webkit-text-size-adjust: none;}
#stream-container{max-width: 1200px;margin: 0 auto;}
#stream-container .stream-useful-information-nestle{font-family: Arial;font-weight: normal;padding: 30px 64px;}
#stream-container.small-pc.tablet .stream-useful-information-nestle {padding:20px 0;width: 90%; margin: 0 auto;}
#stream-container .stream-useful-information-nestle .stream-useful-information-text{padding-bottom: 20px;font-size: 10px;}
#stream-container .stream-useful-information-nestle .stream-useful-information-text:last-of-type{padding-bottom: 0;}
