body{
  background:#eeeeee;
}

/*.text-style {*/
  /*color: #999;*/
/*}*/

.navbar-margin{
  margin-bottom: 70px;
}

.card-decor{
  margin-bottom: 60px;
  border-radius: 6px;
  position: relative;
}

.card-icon{
  position: absolute;
  top: -20px;
  width: 86px;
  height: 86px;
  text-align: center;
  border-radius: 3px;
  padding: 15px;
}

.card-icon i{
  font-size: 36px;
  line-height: 56px;
  color: white;
}

.card-category {
  color: #999;
  font-size: 14px;
  margin-bottom: 5px;
}

.category-values{
  font-size: 20px;
  text-transform: uppercase;
}

.card-footer{
  background: transparent;
}

.bg-orange{
  background: orange;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
}

.bg-green{
  background: green;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
}

.bg-fuchsia{
  background: red;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
}

.bg-blue{
  background: #2bb8cd;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
}

.bg-purple{
  background: linear-gradient(60deg,#ab47bc,#8e24aa);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
}

.fa-exclamation-triangle{
  color: red;
}

.text-style{
  font-size: 12px;
  color: darkgray;
}

.card-text{
  color: darkgray;;
}

.color-purple{
  color: purple;
}

.card-img{
  margin-top:-25px;
  border-radius: 3px;
  padding: 0 20px;
  object-fit: cover;
}

.card-heading{
  font-size:17px;
  margin-bottom: 3px;
}

.fa-long-arrow-alt-up{
  color: #4caf50;
  margin-right: 5px;
}

.decor-card-header{
  color: white;
  margin: -20px 20px 20px;
}

.nav-tabs{
  border: none;
  margin-left: 5px;
}

.nav-item .nav-link.link-style {
  color: white;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 12px;
}


.nav-item .nav-link.link-style:hover{
  background: rgba(182,100,197, 0.8);
}

.link-style i{
  margin-right: 10px;
}

.line-style{
  padding: 10px;
  border-bottom: 1px solid #e3e3e3;
}

.text-lebel{
  padding: 0 10px 0 0;
}

.wrapper-icon{
  min-width: 45px;
}

.fa-pen{
  color: purple;
  margin-right: 10px;
}

.fa-times{
  color: red;
}

.sub-text{
  color: white;
  margin: 0;
}

.table .table-style th{
  border: none;
  color: orange;
}

@media (min-width:1200px){
  .container-fluid{
    width: 1200px;
  }
}
