body,html{
    margin: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.header{
    background:#2d2d2d;
}

.menu-hamburger-input {
    display: none;
}
.menu-hamburger {
    display: none;
    font-size: 30px;
    border: none;
    padding: 2px;
    cursor: pointer;
    background: none;
    outline: none;
    color: #f7671d;

}

.mobile-navigation {
    display: none;

}

.menu-hamburger-input:checked ~ .mobile-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #63baa9;
    box-shadow: -2px 6px 19px 0 rgba(0, 0, 0, 2.46);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    width: 200px;
    height: 170px;
    position: absolute;
    left: 5%;
    border: 1px solid #f7671d;

}

.navigation-item-mobile {
    display: block;
    color: black;
    font-size: 14px;
    margin-bottom: 15px;
    position: relative;
}

.fa-autoprefixer:before {
    font-size: 12px;
    color:  #f7671d;
}

.menu-hamburger i:last-child {
    display: none;
}

.menu-hamburger-input:checked ~ .menu-hamburger i:last-child {
    display: inline;
    position: absolute;
    left:195px;
    top: 27px;
    transform: translate(-50%, 50%);
    z-index: 1;
    color:#f7671d ;
}

.navigation {
    list-style: none;
    width: 50%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.navigation-item {
    font-size: 10px;
    padding: 4px;
}

.navigation-item:hover {
    color: red;
}

.navigation{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 40px 0 10px;
    margin: 0 auto;
}

.navigation-link{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.navigation-link:hover{
    color: #f7671d;
}

/*Main*/
.main{
    background: #63baa9;
}

.atilog img{
    width: 100%;
}

.portfolio{
    padding: 50px 0 70px;

}

.headline{
    display: flex;
    align-items: center;
    color: white;
    font-size: 5vw;
    margin:0 0 20px;
}

.headline:after{
    display: inline-flex;
    flex: 1;
    background: white;
    content: "";
    margin-left: 5vw;
    height: 3px;
}

.portfolio-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-list-item{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    background:white;
    height: 123px;
    width: 100%;
    margin-bottom:2%;
    padding:22px;
    box-sizing: border-box;
}

.portfolio-list-item:first-of-type {
    height: auto;
    background:#f7671d;
    width: 100%;
}

.list-item-number{
    color: #f7671d;
    font-size: 24px;

}
.list-item-text{
    color: #4e4d4d;
    font-size: 12px;
    margin: 0;
}

.list-item-text{
    color: #4e4d4d;
}

.portfolio-list-item:first-of-type .list-item-text {
    color: white;
    line-height:  21px;
}

.portfolio-list-item:first-of-type .list-item-text:first-of-type {
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: lighter;
    margin-bottom: 20px;
    line-height: 5vw;

}

/*footer* */

.footer{
    background: #303646 url("../images/nout.png") no-repeat right top;
    padding: 50px 0 30px;
}

.contacts {
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.decorative-header{
    color: #d1751a;
    font-size: 14px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}

.decorative-header:after{
    display: inline-flex;
    flex: 1;
    background: #4e4d4d;
    content: "";
    margin-left:25px;
    height: 1px;
}

.form{
    display: flex;
    flex-direction: column;
    color: #868686;
    font-size: 12px;
    font-weight: 400;
}

.form-input{
    width: 50%;
    margin-bottom: 10px;
}

.form-text{
    width: 50%;
    resize: none;
    margin-bottom: 10px;
}

.submit{
    background: #f7671d;
    width: 82px;
    padding: 3px 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    border: none;
    margin-bottom: 10px;

}

.decorative-header-color{
    color: #0f0101;
    margin-bottom: 18px;
}

.icons{
    display:inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 18px;

}

.social-network-vk{
    background-image: url("../images/vk.png") ;
}

.social-network-fb{
    background-image: url("../images/facebook.png");
}
.social-network-in{
    background-image: url("../images/in.png");
}

.contact-information{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: #4e4d4d;
}

.contact-information .icons{
    margin-bottom: 0;
    margin-right: 15px;
}


@media (max-width: 768px) {
    .menu-hamburger {
        display: block;
    }

    .navigation {
        display: none;
    }

}

@media (min-width: 500px) {
    .headline{
        font-size: 30px;
    }

    .portfolio-list-item:first-of-type .list-item-text:first-of-type {
        font-size: 18px;
        line-height: normal;
    }

    .decorative-header{
        font-size:14px;
    }

    .form *{
        width: 74%;
    }

    .submit{
        width: 25%;
    }


}

@media (min-width: 650px) {
    .portfolio-list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .portfolio-list-item{
        width: 48%;
        margin-right: 0;
    }
}

@media (min-width: 840px) {

    .navigation {
        margin: 0;
    }

    .portfolio-list-item:first-of-type {
        width: 66%;
        min-height: 280px;
        margin-right: 0;
    }

    .portfolio-list-item {
        width: 32%;
    }

    .portfolio-list-item:nth-of-type(2) {
        min-height: 280px;
        margin-right: 0;
    }

    .contacts{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .form{
        margin-right: 16px;
    }

    .form-input{
        width: 235px;
    }

    .form-text{
        width:450px;
    }
    .submit{
        align-self: flex-end;
    }
}

@media (min-width: 1000px){
    .container{
        width: 70%;
    }
}
