
.container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.header{
    background: #343232;
    font-family: Arial;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left{
    display: flex;
    align-items: center;
}

.wrapper-logo{
    width: 130px;
    margin-right: 10%;
}

.logo{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    font-size: 25px;
}

.navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.navigation-item{
    padding: 4px 16px;
    text-decoration: none;
    color: #b5b2b2;
}

.navigation-item:hover{
    color: white;
}

.name-user{
    color: #b5b2b2;
    padding:4px 10px;
}

.name-user:hover{
    color: white;
}

.main{
    display: flex;
    font-family: Arial;
    padding: 40px 20px;
}

.drawer{
    width: 20%;
    margin-right: 20px;
}

.menu{
    margin: 25px 0;
}

.menu-title{
    color: #666363;
    font-size: 20px;
    margin: 0;
}

.menu-list{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;

}

.menu-item{
    padding: 16px 0;
}

.menu-item a{
    text-decoration: none;
    color: #0e9ae3;
    font-size: 16px;
    position: relative;
}

.menu-item a:before{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
}

.menu-item  i{
    display: inline-block;
    color: #0e9ae3;
    margin-right: 6px;
    font-size: 20px;
    width: 28px;
}
.menu-item:hover  a{
    color: #4555d0;
}
.menu-item:hover  i{
    color: #4555d0;
}

.content{
    flex: 1;
    padding-top: 23px;
    position: relative;
}

.content .d-flex{
    margin-bottom: 38px;
}

.content-title{
    padding:  0 0  20px 0;
    margin: 0;
    color: #666363;
    font-size: 24px;
}
.btn-create{
    color: #0e9ae3;
    padding: 8px;
    background: transparent;
    border: 1px solid #d7d6d6;
    border-radius: 3px;
    outline: none;
}
.btn-create:hover{
    color: #064570;
    background: #e3e2e2;
    transition: 0.4ms;
}
.divider:after {
    content: '';
    position: absolute;
    top:76px;
    width: 100%;
    height: 1px;
    background: #f5f2f2;
}

.form{
    margin-bottom: 20px;
}

.form input{
    outline: none;
    padding: 4px;
    border: 1px solid #d7d6d6;
    border-radius: 3px;

}
.form input:focus  {
    border: 1px solid #0e9ae3;
    outline: none;
}

.form label{
    color: #0e9ae3;
}


.wrapper-table{
    height: 48vh;
    overflow-y: scroll;
}

.table{
    width: 100%;
    border-spacing: 0;
}

th{
    position: sticky;
    top:0;
    background: white;
}

td,th{
    border: 1px solid #d7d6d6;
    text-align: center;
    padding: 5px;
}

tr:hover td {
    border: 1px solid #0e9ae3;
    cursor: pointer;

}

.table tr:nth-of-type(even){
    background: #e3e2e2;
}

