.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}

.stopwatch-style{
  width: 300px;
  text-align: center;
  margin-bottom: 70px;
}

.clock{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 2px solid red;
  border-radius: 15%;
  margin-bottom: 10px;
}

.time {
  font-size: 40px;

}

.time:not(:last-of-type):after {
  content: ':';
}

.time:last-of-type {
  font-size: 14px;
}

.control-panel{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.dashboard{
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

.dashboard li{
  position: relative;
}

.dashboard li:before {
  background: url("../img/icons8-таймер-filled-50.png") no-repeat;
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  transform: translate(-50%, 50%);
  left: 50%;
  top: -50%;
  margin-left: -70px;
}

.dashboard:last-of-type:after {
  display: block;
  content: '';
  width: 250px;
  height: 2px;
  background: #cc0000;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 10px;
}

.control-btn{
  min-width: 80px;
  padding: 10px;
  background: #0f0101;
  color: white;
  font-size: 14px;
  border: 2px solid red;
  border-radius:20%;
  cursor: pointer;
  outline: none;
}


