
@font-face {
  font-family: "KelsonSans-Light";
 src: url("../fonts/Kelson/KelsonSans-Light.woff2");
}

@font-face {
  font-family: "KelsonSans-Bold";
  src: url("../fonts/Kelson/KelsonSans-Bold.woff2");
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway.ttf");
}

@font-face {
  font-family: "Bebas-Neue-Bold";
  src: url("../fonts/Bebas-Neue-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

html, body{
  font-size: 12px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.header{
  background: black;
}

.container {
  width: 92%;
  margin: 0 auto;
}

.general{
  display: flex;
  position: relative;
  padding: 4.3vw 0;
}


.profile{
  width: 52%;
  display: flex;
  position: relative;
}

.profile:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  background: #949698;
}

.avatar {
  width: 43%;
  border-radius: 50%;
  margin-right: 3.3vw;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  margin-right: 3.3vw;
}

.name{
  font-family: "KelsonSans-Light", sans-serif;
  color: white;
  font-size: 3.5rem;
  margin: 0;
}

.surname{
  font-family: "KelsonSans-Bold", sans-serif;
  color: #d07628;
  font-size: 3.5rem;
  margin: 0;
}

.position{
  font-size: 1rem;
  color: white;
}

.info{
  width: 48%;
  display: flex;
  flex-direction: column;
  padding-left: 3vw;
  box-sizing: border-box;
}

.contacts {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.contact{
  display: block;
  text-decoration: none;
  font-size: 1rem;
}

.contact-label {
  display: inline-block;
  width: 21%;
  font-family: "Montserrat-Bold";
  color: #a2a2a2;
}

.contact-value{
  font-family: "Montserrat-Regular";
  color: #a2a2a2;
}

.divider{
  display: inline-flex;
  height: 3px;
  margin: 2vw 0;
  background: #949698;
}

.about {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #a2a2a2;
}

.about-title {
  font-size: 2.3rem;
  font-family: "Bebas-Neue-Bold";
  margin: 0 0 2vw 0;
}

.about-description {
  font-size: 1rem;
  font-family: "Montserrat-Regular";
  margin: 0;
  line-height: 1.5rem;
}

.paragraph {
  box-sizing: border-box;
  padding: 5vw 4vw 4.5vw;
}

.info-experience{
  display: flex;
}

.experience{
  width: 61%;
}

.paragraph-title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: Bebas-Neue-Bold;
  color: #414142;
  font-size: 2.3rem;
  margin: 0 0 3.3vw;
}


.paragraph-title:after{
  display: inline-flex;
  flex: 1;
  background:#949698;
  content: "";
  margin-left: 3.3vw;
  height: 3px;
}

.timeline {
  list-style: none;
  padding: 0;
  margin: 0;
}

.record {
  display: flex;
  flex-direction: row;
}

.record:not(:last-of-type) {
  margin-bottom: 2.4vw;
}

.record-info{
  min-width: 17.6vw;
  box-sizing: border-box;
  padding-right: 4vw;
  text-align: right;
}

.record-position{
  color: #128fc1;
  font-size: 1.6rem;
  font-family: "Bebas-Neue-Bold";
  text-transform: uppercase;
  margin: 0;
}

.record-period{
  font-size: 1rem;
  font-family: "Montserrat-Regular";
  color: #808285;
}

.record-details {
  display: inline-block;
}

.record-title {
  margin: 0 0 1rem 0;
  color: #414142;
  font-family: "Montserrat-SemiBold";
}

.record-description{
  font-size: 1rem;
  font-family: "Montserrat-Regular";
  margin: 0;
  line-height: 1.5rem;
  color: #808285;
}

.knowledge {
  width: 39%;
}

.pro-skills {
  background: #6fd0f6;
}

.per-skills {
  background: #eddc45;
}

.skills{
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill:not(:last-of-type) {
  margin-bottom: 1.3vw;
}

.skill-name {
  width: 36%;
  padding-right: 1.8vw;
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat-SemiBold";
  text-align: right;
}

.progress-bar {
  border: 3px solid black;
  border-radius: 0.75vw;
  width: 57%;
}

.progress {
  width: 50%;
  height: 1.5vw;
  border-radius: 0.75vw;
  background: black;
}

@media screen and (min-width: 980px) {
  html, body {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  html, body {
    font-size: 16px;
  }
}

@media screen and (min-width: 1600px) {
  html, body {
    font-size: 19px;
  }
}

@media screen and (min-width: 1920px) {
  html, body {
    font-size: 24px;
  }
}

@media screen and (min-width: 2550px) {
  html, body {
    font-size: 33px;
  }
}
