
@font-face {
  font-family: "KelsonSans-Light";
 src: url("../fonts/Kelson/KelsonSans-Light.woff2");
}

@font-face {
  font-family: "KelsonSans-Bold";
  src: url("../fonts/Kelson/KelsonSans-Bold.woff2");
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway.ttf");
}

@font-face {
  font-family: "Bebas-Neue-Bold";
  src: url("../fonts/Bebas-Neue-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf");
}

html, body{
  font-size: 12px;
}


.header{
  background: black;
}

.container{
  width: 92%;
  margin: 0 auto;
}

.general{
  display: flex;
  padding-top: 4.5%;
}

.profile{
  width: 52%;
  display: flex;
  position: relative;
}

.profile:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3px;
  background: #4a4e5a;
}

.avatar {
  width: 43%;
  border-radius: 50%;
  margin-right: 6.5%;
}

.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  margin-right: 6.5%;
}

.name{
  font-family: "KelsonSans-Light", sans-serif;
  color: white;
  font-size: 3.5rem;
  margin: 0;
}

.surname{
  font-family: "KelsonSans-Bold", sans-serif;
  color: #d07628;
  font-size: 3.5rem;
  margin: 0;
}

.position{
  font-size: 1rem;
  color: white;
}

.info{
  width: 48%;
  display: flex;
  flex-direction: column;
  padding-left: 6.5%;
  box-sizing: border-box;
}

.contacts {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5%;
}
.contact{
  display: block;
  text-decoration: none;
  font-size: 1rem;
}

.contact-label {
  display: inline-block;
  width: 21%;
  font-family: "Montserrat-Bold";
  color: #a2a2a2;
}

.contact-value{
  font-family: "Montserrat-Regular";
  color: #a2a2a2;
}

.about {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #a2a2a2;
}

.about-title {
  font-size: 2.3rem;
  font-family: "Bebas-Neue-Bold";
  margin: 0;
}

.about-description {
  font-size: 1rem;
  font-family: "Montserrat-Regular";
}

@media screen and (min-width: 980px) {
  html, body {
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px) {
  html, body {
    font-size: 16px;
  }
}

@media screen and (min-width: 1600px) {
  html, body {
    font-size: 19px;
  }
}

@media screen and (min-width: 1920px) {
  html, body {
    font-size: 24px;
  }
}

@media screen and (min-width: 2550px) {
  html, body {
    font-size: 33px;
  }
}
