@font-face {
  font-family: 'Raleway-MediumItalic';
  src: url("../fonts/Raleway/Raleway-MediumItalic.ttf");
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url("../fonts/Raleway/Raleway-Medium.ttf");
}

@font-face {
  font-family: 'Raleway-Light';
  src: url("../fonts/Raleway/Raleway-Light.ttf");
}

@font-face {
  font-family: 'BadScript-Regular';
  src: url("../fonts/Bad_Script/BadScript-Regular.ttf");
}

@font-face {
  font-family: 'MissFajardose-Regular';
  src: url("../fonts/Miss_Fajardose/MissFajardose-Regular.ttf");
}

@font-face {
  font-family: 'crasivo';
  src: url("../fonts/crasivo.ttf");
}

@font-face {
  font-family: 'decor';
  src: url("../fonts/decor.ttf");
}

html {
  scroll-behavior: smooth;
}

.block-greeting {
  height: 726px;
  position: relative;
}

.block-greeting:before {
  height: 726px;
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  content: '';
  background:url("../img/tour-k12-hero-desk.jpg") no-repeat top center;
}


.block-greeting-overlay {
  background: url("../img/pattern.png");
  background-color: rgba(44, 62, 80, 0.3);
  background-repeat: repeat;
  height: 726px;
}

.info {
  color: white;
  font-size: 4.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Raleway-Light', sans-serif;

}

.info-h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0 0 12px;
  font-size: 11vw;
  font-family: "Raleway-MediumItalic", sans-serif;
}

.info-span {
  display: inline-block;
  margin: 0 0 18px;
}

.info-name {
  color: red;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: 'crasivo', sans-serif;
  position: relative;
  line-height: 35px;

}

.color-red {
  color: red;
}

.scroll {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid red;
  overflow: hidden;
  outline: none;

}

.scroll:hover {
  border-color: red;
}

.arrow {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: red;
  animation: timing 1.5s infinite linear;
}

.scroll:hover .arrow {
  color: red;
}

/*header*/
.text-design {
  text-transform: uppercase;
  color: #0f0101;
  font-family: "Raleway-Medium", sans-serif;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}

.header::after {
  display: block;
  background: red;
  height: 1px;
  width: 100%;
  content: "";
}

.main {
  background: #fff;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  font-family: "MissFajardose-Regular", sans-serif;
  color: red;
  font-size: 50px;
  padding: 3px;
}

.menu-hamburger-input {
  display: none;
}

.menu-hamburger {
  display: none;
  font-size: 30px;
  border: none;
  padding: 2px;
  cursor: pointer;
  background: none;
  outline: none;
}

.mobile-navigation {
  display: none;
}

.menu-hamburger-input:checked ~ .mobile-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: -2px 6px 19px 0 rgba(0, 0, 0, 2.46);
  list-style: none;
  padding: 10px 0;
  margin: 0;
  width: 40vw;
  max-width: 200px;
  height: 170px;
  position: absolute;
  right: 5%;
  top: 50%;
  border-radius: 10px;
  border: 2px solid red;
}

.navigation-item-mobile {
  display: block;
  color: black;
  font-size: 11px;
  margin-bottom: 15px;
  position: relative;
}

.fa-code:before {
  font-size: 12px;
  color: red;
}

.menu-hamburger i:last-child {
  display: none;
}

.menu-hamburger-input:checked ~ .menu-hamburger i:first-child {
  display: none;
}

.menu-hamburger-input:checked ~ .menu-hamburger i:last-child {
  display: inline;
  position: absolute;
  right: -7px;
  top: -10px;
  transform: translate(-50%, 50%);
  z-index: 1;
  color: red;
}

.menu-hamburger:hover {
  color: red;
}

.navigation {
  list-style: none;
  width: 50%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navigation-item {
  font-size: 10px;
  padding: 4px;
}


.navigation-item:hover {
  color: red;
}

/*main*/

.wrapper {
  max-width: 1200px;
  padding:1% ;
  margin: 0 auto;
  box-sizing: border-box;
}

.wrapper-heading {
  text-transform: uppercase;
  font-family: "BadScript-Regular", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4.5vw;
  text-align: center;
  margin: 5% 0 7px;
}

.wrapper-divider {
  background: url("../img/caffe-2.png");
  background-size: cover;
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0 auto 25px;
}

.wrapper-divider:before {
  content: "";
  display: block;
  position: absolute;
  right: 100%;
  bottom: 12px;
  transform: translateY(-50%);
  width: 115px;
  height: 2px;
  background: red;

}

.wrapper-divider:after {
  content: "";
  display: block;
  position: absolute;
  left: 100%;
  bottom: 12px;
  transform: translateY(-50%);
  width: 115px;
  height: 2px;
  background: red;

}

.wrapper-content {
  position: relative;
  display: flex;
  justify-content: center;
}

.wrapper-content-img {
  display: none;
  object-fit: cover;
  width: 40vw;
  height: 60vw;
  padding-right: 2%;

}

.about-me-description {
  width: 85%;
  font-size: 25px;
  font-family: "BadScript-Regular", sans-serif;
  line-height: 37px;
  font-weight: 100;
}

.main-text {
  margin: 0 0 15px;
}

.main-text:last-of-type {
  margin: 0 0 24px;
}

.link-portfolio {
  color: red;
}

.tools {
  margin: 0;
  padding: 0;
  list-style: none;
}

#about .tools{
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

#about .tools .tool{
  width: calc((100% - 10 * 5px)/5);
  margin: 5px;
}

#about .tool-img{
  width: 100%;
  height:14vw;
  object-fit: contain;
}

/*section 2*/
.portfolio {
  padding: 5% 0 4%;
}

.gallery {
  width:80%;
  margin: 0 auto;
  padding:10% 0 18% ;
}

.gallery-item {
  width: 80vw;
  height: 90vw;
  padding: 15px;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: -2px 6px 19px 0 rgba(0, 0, 0, 0.46);
  position: relative;
}

.gallery-item:not(:last-child){
  margin-bottom: 20%;
}

.gallery-item:nth-of-type(2n) {
  transform: rotate(5deg);
}

.gallery-item:nth-of-type(2n+1) {
  transform: rotate(-4deg);
}


.gallery-item:before {
  background: url("../img/pin.png") no-repeat center;
  position: absolute;
  content: "";
  display: block;
  width: 11%;
  height: 11%;
  background-size: contain;
  top: -3%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-best-project{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

/*.section-best-project .about-me-description{*/
  /*width: 90%;*/
/*}*/

.section-best-project .gallery-item{
  margin-bottom: 50px;
  transform: none;
}

.best-project-list-tool{
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.best-project-list-tool .fa-code:before{
  vertical-align: middle;
}

.list-tool-nuxt{
  color: rgb(0, 197, 142);
}

.list-tool-huroku{
  color: #9E7CC1;
}

.list-tool-bootstrap{
  color: #7952b3;
}
.list-tool-bootstrap span{
  color: rgb(0, 197, 142);
}

  /*.best-project-list-tool{*/
  /*text-align: center;*/
/*}*/

.gallery-item-overlay {
  height: 78%;
  width: 100%;
  display: block;
  background: black;
  margin: 0 0 3%;
}

.gallery-img {
  width: 100%;
  height: 100%;
  border: thin solid black;
  animation: opacity;
  animation-duration: 5s;
  animation-timing-function: linear;
  opacity: 1;
  object-fit: cover;
}

.gallery-item .tools {
  display: flex;
  align-items: center;
}

.gallery-item .tool-img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.gallery-item .tool{
  margin-right: 4px;
}

.decor-text {
  font-family: 'decor';
  font-size: 3.5vw;
  color: #0043b2;
}

.social-icons {
  background-color: red;
  padding: 20px;
}

.list-social-icons {
  list-style: none;
  display: flex;
  width: 66vw;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0;

}

.fab {
  color: white;
  font-size: 41px;
  overflow: hidden;
}


.fab:hover {
  color: black;
}

.title-best-project{
  color: red;
  text-align: center;
  margin:20px 0 60px;
  font-family: "BadScript-Regular", sans-serif;
  letter-spacing: 2px;
  font-size:5vw;
}

.title-best-project span {
  color: #1ad4b5;
}


/*footer*/

.contacts {
  padding: 10px;
  background-color: black;
}

.contacts .wrapper {
  padding-top: 0;
}

.contacts-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px;
}

.contacts-wrapper:last-of-type {
  margin: 0;
}

.fas {
  font-size: 25px;
  color: red;
  margin-right: 10px;
}

.contact {
  color: white;
  font-size: 13px;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes timing {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@media (min-width: 550px) {

  /*.wrapper-heading {*/
    /*font-size: 3vw;*/
  /*}*/

  /*.tool {*/
  /*  margin-bottom: 10px;*/
  /*}*/

  .gallery-item {
    width: 60vw;
    height: 70vw;
  }

  .section-best-project .gallery-item {
    height: 86vw;
    width: 85vw;
  }

  .section-best-project .about-me-description{
  width: 70%;
  }

  .decor-text{
    font-size: 3vw;
  }
}

@media (min-width: 650px) {

  .wrapper-heading {
  font-size: 3vw;
  }

  .gallery-item {
    width: 50vw;
    height: 60vw;
  }
  .gallery-item:not(:last-child){
    margin-bottom:5%
  }

  .section-best-project .gallery-item {
    height: 76vw;
    width: 75vw;
  }

  .contacts-wrapper {
    justify-content: flex-end;
  }

  .decor-text{
    font-size: 15px;
  }
  .title-best-project{
    font-size:4vw;
  }
}

@media (max-width: 768px) {
  .menu-hamburger {
    display: block;
  }

  .navigation {
    display: none;
  }

}

@media (min-width: 700px) {
  .block-greeting-overlay {
    display: none;
  }

  .info {
    color: black;
    font-size: 25px;
    top: 55%;
  }

  .info-h1 {
    font-size: 80px;
  }

  .scroll {
    bottom: 5%;
  }

  .menu-hamburger {
    display: none;
  }

  .menu-hamburger-input:checked ~ .mobile-navigation {
    display: none;
  }

  .navigation {
    display: flex;
  }

  .wrapper-content-img {
    display: block;
  }

  #about .tool-img {
    height: 80px;
  }

  .list-social-icons {
    width: 45%;
  }
  .section-best-project .gallery-item {
    height: 63vw;
    width: 63vw;
  }
}

@media (min-width: 750px) {
  .container {
    width: 90%;
  }

  .wrapper-heading {
    font-size: 2vw;
  }

  .title-best-project {
    font-size: 3.5vw;
  }

  .gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:  0  0 7% ;
    /*margin: -30px;*/
  }

  .gallery-item {
    width: calc((100% - 4 * 30px)/2);
    height: 45vw;
    margin: 30px;
  }

  .gallery-item:nth-last-child(-n+2){
    margin-bottom: 0;
  }

  .section-best-project .gallery-item {
    height: 86vw;
    width: 85vw;
    margin-bottom: 10%;
  }

  .title-best-project{
    margin-bottom: 80px;
  }
}


@media (min-width: 950px) {
  .navigation-item {
    font-size: 11px;
    letter-spacing: 2px;
  }

.wrapper-content-img {
  width: 343px;
  height: 503px;
}

.about-me-description {
  width: 55%;
  font-size: 23px;
  line-height: 40px;
}

.tool-img {
  width: 80px;
  height: 80px;
}

.list-social-icons {
  width: 35%;
}
.section-best-project{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-best-project .about-me-description{
  width: 40%;
}

.section-best-project .gallery-item {
  width: 45vw;
  height: 45vw;
}

.best-project-description{
  width: 38vw;
}
  .title-best-project {
    font-size: 25px;
    margin-bottom: 50px;
  }
}

@media (min-width: 1100px) {

.wrapper-heading {
  font-size: 20px;
}

.wrapper-content-img {
  width: 343px;
  height: 503px;
  padding-right: 55px;
}

.main-text:last-of-type {
  margin: 0 0 25px;
}

/*.gallery{*/
/*  margin: -40px;*/
/*}*/

.gallery-item {
  width: calc((100% - 6 * 40px)/3);
  height: 330px;
  margin: 40px;
}

.gallery-item:nth-last-child(-n+3){
  margin-bottom: 0;
}

.gallery-item:nth-of-type(2n+1) {
  transform: rotate(-7deg);
}

.section-best-project .gallery-item {
  width: 480px;
  height: 480px;
  transform: none;
}

.list-social-icons {
  width: 25%;
}
}

@supports ((position:sticky) or (position:-webkit-sticky)){
.header{
  position: -webkit-sticky;
  position: sticky;
}
}

