@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/helvetica-neue-cyr-light/helvetica-neue-cyr-light.eot"), /* IE9 Compat Modes */
    url("../fonts/helvetica-neue-cyr-light/helvetica-neue-cyr-light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/helvetica-neue-cyr-light/helvetica-neue-cyr-light.otf") format("opentype"), /* Open Type Font */
    url("../fonts/helvetica-neue-cyr-light/helvetica-neue-cyr-light.svg") format("svg"), /* Legacy iOS */
    url("../fonts/helvetica-neue-cyr-light/helvetica-neue-cyr-light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/helvetica-neue-cyr-light/helvetica-neue-cyr-light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/helvetica-neue-cyr-light/helvetica-neue-cyr-light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
